*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 20px 50px;
}
.navsx{
  /* debug */
  background-color: red;
  min-height: 200px;
  width: 30%;
  /* debug */
}
.navdx{
  /* debug */
  background-color: green;
  min-height: 200px;
  width: 60%;
  /* debug */
}
.navdx > ul {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.navdx > ul li{
  list-style: none;
  margin: 10px 15px;
}
.dropitem{
  position: relative;
}
.dropdown{
  position: absolute;
  display: none;
  top: -5px;
}

/* classi utili per display block e none */
.dispnone{
  display: none;
}
.dispblock{
  display: block;
}
